---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Full Stack Developer",
    company: "Quickspark",
    description:
      "Migración de app nativa a React Native, React.js y Firebase manteniendo una arquitectura limpia. Diseño de componentes desde Figma a código respetando guías y estilos. Diseño e implementación del backend completo con Firebase y Google Cloud. Integración de servicios externos para gestionar suscripciones en Apple Store y Android Store. Integración de Inteligencia Artificial generativa como servicio de la app, usando prompt engineering y sistemas de memoria.",
  },
  {
    date: "Julio 2024",
    title: "Full Stack Developer",
    company: "Pixel Innova",
    description:
      "Realicé la prácticas de mi Ingeniería Informática en Pixel donde estuve trabajando con Android Studio y Xcode desarrollando aplicaciones móviles.",
  },
  {
    date: "Septiembre 2021",
    title: "Ingeniería Informática",
    company: "Universidad de Salamanca",
    description:
      "Hice un pequeño parón para cambiar mi futuro profesional decidiendo estudiar Ingeniería Informática en la Universidad de Salamanca.",
  },
  {
    date: "Julio 2019",
    title: "Full Stack Developer",
    company: "Maquinaria LDM",
    description:
      "Mi labor era el desarrollo, implementación, puesta en marcha y soporte para maquinaria industrial enfocada en el paletizado a nivel Internacional. También llevé a cabo el desarrollo del ecommerce de la empresa.",
  },
  {
    date: "Julio 2018",
    title: "Desarrollador Autómatas Programables",
    company: "Desarollo Tecnológico",
    description:
      "Llevé a cabo tareas de desarrollo, implementación, puesta en marcha y soporte de PLCs para maquinaria industrial acudiendo a múltiples empresas a nivel nacional.",
  },
  {
    date: "Junio 2017",
    title: "Desarrollador Robot ABB",
    company: "Transformadores Gedelsa",
    description:
      "Trabajé llevando a cabo la programación, testeo y puesta en marcha de un Robot de soldadura de hilo para la fabrícación de transformadores.",
  },
  {
    date: "Marzo 2017",
    title: "Mantenimiento de equipos",
    company: "Enusa Industrias Avanzadas",
    description:
      "Realicé las prácticas en mantenimiento de equipos industriales para una empresa del Sector Nuclear en España.",
  },
  {
    date: "Septiembre 2015",
    title: "Grado Superior Automática y Robótica Industrial",
    company: "FP Ciudad de Béjar",
    description:
      "Decidí estudiar un grado superior para aprender a programar robots y automátas programables.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
